.postsIndex {
  img {
    height: 200px;
    width: 200px;
    // max-width: 200px;
    float: left;
    margin: 0 10px 0 0;
    // display: grid;
  }

  div.content {
    padding-top: 25px;
        margin-right: -73px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;


    li {
      list-style: none;
      clear: both;
      display: block;
      margin: 0 0 140px;

}

    }

      }
    .ng-scope {
      list-style: none;

    }
    ul {
      list-style: none;
      width: 70%;
    // margin: auto;
    margin-left: 87px;

    }

  form {
    margin-right: 168px;
  }
