.postsIndex {
  img {
    height: 200px;
    width: 200px;
    float: left;
    margin: 3%;
  }

  #content {
    width: 80%;
    padding-top: 56px;
    text-align: left;
    margin-top: 46px;

  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;


    li {
      list-style: none;
      clear: both;
      display: block;
      // margin: 0 0 140px;

    }

  }
}

ul {
  list-style: none;
  padding: 0;
  // width: 70%;
// margin: auto;
// margin-left: 87px;

}

form.message1 {
  text-align: center;
}

.index {
  margin: 0 auto;

}

.response {
  text-align: center;
}

h1#post-show {
  text-align: center !important;
  padding-top: 45px;
}

.lowdown {
  text-align: center;
}

.register {
  text-align: center;

}
input:focus {
  outline: none;
}
