body {
  font-family: 'Quicksand', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
  font-family:'Karla', sans-serif;
  color: $blue;
}

img {
  border-radius: 100%;
}

form {
  margin: 0 auto;
  padding-top: 77px;
}

.form ng-pristine {
  padding-top: 75px;
}
