// Colors
$white:         #ffffff;
$red:           #fa0029;
$blue:          #7dcaec;

// Typography
$logo-font:     'Bree Serif', serif;
$body-font:     'Roboto', sans-serif;
$headings-font: 'Roboto Slab', serif;
