<h1>Post Show</h1>

<!-- <h4>Comment</h4> -->

<form ng-submit="postsShow.submit()">
  <label for="message">Message</label>
  <input type="text" name="message" ng-model="postsShow.comment.message">
  <input class="btn btn-success" type="submit" value="Comment">
</form>


<ul>
  <li ng-repeat="comment in postsShow.post.comments">
    <ul>
      <li>
        <p>{{ comment.message }}</p>
        <p>{{ comment.user.username }}</p>
        <!-- <p>{{ comment.user.username }}</p> -->
        <img ng-src="{{ comment.user.image }}" width="40">

        <button ng-click="postsShow.commentDelete(comment)" ng-if="comment.user.id === main.user.id" class="btn btn-danger">Delete</button>
      </li>
    </ul>
  </li>
</ul>
